body {
    margin: 0;
    position: relative;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #080808;
    color: white;
  }
  
  #canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  spline-viewer {
    width: 100%;
    height: 100vh;
  }
  
  #controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 2;
    padding: 15px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    max-width: 90%;
    width: 100%;
  }  
  
  button {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.15);
    color: white;
    transition: all 0.2s;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  button:hover {
    background: rgba(255, 255, 255, 0.25);
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .active {
    background-color: magenta;
    color: white;
    box-shadow: 0 0 20px rgba(255, 0, 255, 0.7);
    border-color: transparent;
  }
  
  /* Modal styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    color: white;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
/* for the phone */
  @media (max-width: 768px) {
    #canvas-container {
      top: -10vh;
      height: 110vh;
    }
  
    spline-viewer {
      height: 110vh;
    }
  
    #controls {
      flex-wrap: wrap;
      max-width: 90%;
      width: 100%;
      bottom: 10px;
    }
    
    #controls button {
      flex: 0 0 calc(50% - 10px);
      max-width: calc(50% - 10px);
      font-size: 12px;
      padding: 8px 12px;
      margin-bottom: 10px;
    }
  }
  